<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
  </head>


  <body>
    <h1>HOME</h1>
    <a href="firs_name">first name</a> <br>
    <a href="last_name">last name </a><br>
    <a href="siswa">siswa</a><br>

  </body>
</html>
