<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>siswa</title>
  </head>
  <body>
    <h1>siswa</h1>
<tbody>
  <table>
    <%data.forEach( rows => { %>

      <td><%= id%></td>
      <td><%= firs_name%></td>
      <td><%= last_name%></td>
      <td><%= full_name%></td>
      %= rows.id%

    <td></td>
  </table>
</tbody>

  </body>
</html>
